/* @font-face {
	font-family: "RobotoRegular";
	src: url("fonts/RobotoRegular/RobotoRegular.eot");
	src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RalewayRegular";
	src: url("/fonts/Raleway/Raleway-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RalewayBold";
	src: url("fonts/Raleway/Raleway-Bold.ttf");
	font-style: normal;
	font-weight: bold;
} */
