*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {}

body input:required:valid, body textarea:required:valid {}

.main {
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}

.header {
	height: 100px;
}

.navbar-brand {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.navbar-toggle {
	margin-top: 30px;
}

.navbar-toggle {
	border: 1px solid #fff;
}

.icon-bar {
	background-color: #fff;
}

.main__navbar li {}

.main__navbar li a {
	padding-left: 30px;
	padding-right: 30px;
	text-transform: uppercase;
	line-height: 70px;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
}

.main__navbar li:last-child a {
	padding-right: 0;
}

.main img {
	padding-top: 20px;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent;
	color: darkgrey;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
	color: #fff;
	padding: 140px 130px;
	margin-bottom: 0;
}

.jumbotron h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 71px;
	font-size: 65px;
	margin-top: 0;
	margin-bottom: 40px;
}

.jumbotron .lead {
	line-height: 33px;
	font-size: 22px;
	margin-bottom: 80px;
}

.jumbotron__btn {
	background-color: #e84545;
	border-radius: 2px;
	line-height: 24px;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	height: 45px;
	width: 200px;
}

.jumbotron__btn:hover {
	color: #fff;
}

.trigers {
	padding: 120px 0 50px 0;
}

.triger {
	text-align: center;
	margin-bottom: 10px;
}

.triger img {
	margin-bottom: 35px;
}

.triger h4 {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 0;
}

.triger p {
	line-height: 19px;
	font-size: 14px;
	margin-bottom: 0;
}

.trigers {
	margin-bottom: 65px;
}

.picture {
	width: 25%;
	border-right: 1px solid #fff;
	max-height: 350px;
	position: relative;
	overflow: hidden;
}

.pictures {
	margin-bottom: 100px;
}

.picture:hover .picture__hover {
	opacity: 1;
}

.picture img {
	height: 100%;
}

.pictures__row--top {
	border-bottom: 1px solid #fff;
}

.pictures__row {
	display: flex;
	width: 100%;
}

.pictures__row .picture:last-child {
	border-right: 0;
}

.picture__hover {
	position: absolute;
	text-align: center;
	color: #fff;
	background: #e54d48bd;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
	transition: all 0.3s;
}

.red {
	color: red;
}

.team__player {
	overflow: hidden;
}

.team__player h4 {
	font-size: 22px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.team__player .red {
	font-size: 13px;
	text-transform: uppercase;
}

.team__player p {
	font-size: 14px;
	margin-bottom: 30px;
}

.social a {
	border: 1px solid #e8ecee;
	width: 40px;
	display: inline-block;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

.team {
	margin-bottom: 100px;
}

.item {
	position: relative;
}

.item img {
	max-height: 500px;
	max-width: 50%;
}

.item__desc {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 50%;
	bottom: 0;
	display: flex;
	padding: 20px 80px;
	justify-content: center;
	flex-direction: column;
}

.item__desc h3 {
	max-width: 70%;
	margin-bottom: 30px;
	font-family: 'Cardo', serif;
	font-style: italic;
	color: #fff;
	font-size: 1.7em;
}

.item__desc p {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	color: #fff
}

.carusel {
	margin-bottom: 100px;
}

.download h3 {
	font-size: 28px;
	line-height: 21px;
	margin-bottom: 20px;
}

.download p {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 21px;
	margin-bottom: 40px;
}

.download a {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 21px;
	border: 1px solid #e84545;
	background: #e84545;
	color: #fff;
	padding: 18px 80px;
	border-radius: 2px;
}

.download {
	margin-bottom: 100px;
}

footer {
	background: #3a3e64;
	color: #fff;
}

footer a {
	border: 2px solid #fff;
	width: 40px;
	display: inline-block;
	text-align: center;
	height: 40px;
	line-height: 32px;
}

footer h5 {
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 40px;
	margin-bottom: 20px;
	font-weight: bold;
}

footer p {
	opacity: 0.5;
	font-size: 14px;
	line-height: 22.5px;
}

footer>.container {
	padding-bottom: 100px;
}

.copyright {
	background: #313454;
}

.copyright p {
	padding: 31px;
}

.slick-arrow {
	display: none !important;
}