/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
	.item__desc h3 {
		font-size: 18px;
		line-height: 25px;
	}
	.item__desc p {
		font-size: 10px;
	}
	.social {
		margin-bottom: 40px;
		text-align: center;
	}
	.team__player {
		text-align: center;
	}
	.team__player p {
		margin-bottom: 10px;
	}
	.triger {
		margin-bottom: 35px;
	}
	.carusel {
		margin-bottom: 50px;
	}
	.team {
		margin-bottom: 30px;
	}
	.download {
		margin-bottom: 50px;
	}
	.trigers {
		padding-bottom: 0;
		padding-top: 40px;
		margin-bottom: 50px;
	}
	footer>.container {
		padding-bottom: 20px;
	}
	.main__navbar li a {
		padding-left: 10px;
		padding-right: 10px;
	}
}

/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
	.pictures__row--top {
		border: 0;
	}
	.main__navbar li a {
		line-height: 30px;
	}
	.navbar-collapse.in, .navbar-collapse.collapsing {
		background-color: #66697e;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.navbar-collapse .navbar-nav {
		width: 100%;
		text-align: center;
		float: left !important;
		margin: 0;
	}
	.main img {
		width: 125px;
		padding-top: 25px;
	}
	.jumbotron {
		padding: 20px 15px;
	}
	.jumbotron h1 {
		line-height: 36px;
		font-size: 32px;
	}
	.jumbotron .lead {
		line-height: 26px;
		font-size: 16px;
		margin-bottom: 30px;
	}
	.jumbotron a {
		margin-bottom: 27px;
	}
	.item__desc {
		max-width: 100%;
		padding: 15px;
		background: rgba(0, 0, 0, 0.50)!important;
	}
	.item img {
		max-width: 100%;
	}
	.download h3 {
		font-size: 16px;
	}
	.download p {
		font-size: 11px;
	}
	.download a {
		padding: 14px 32px;
	}
	.pictures__row {
		flex-direction: column;
	}
	.picture {
		width: 100%;
		max-height: 250px;
		border-right: 0;
	}
	.picture img {
		width: 100%;
	}
	.copyright p {
		padding: 5px;
		margin: 0;
		font-size: 12px;
	}
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
	.slick-dots {
		max-width: 50%;
		right: 0;
		bottom: 10%!important;
	}
	.slick-dots li button:before {
		color: #fff !important;
		font-size: 15px !important;
	}
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
	.item img {
		max-height: 100%;
		width: 100%;
	}
}